<table class="contactTable">
    <th>
        <td>Company Name</td>
    </th>

    <th>
        <td>Name</td>
    </th>

    <th>
        <td>Address</td>
    </th>

    <th>
        <td>Industry</td>
    </th>

    <th>
        <td>Phone</td>
    </th>

    <th>
        <td>Website</td>
    </th>

    {{#each person in model itemController="person"}}

    <tr class="recFrame">

        <td class="NrecFrame">
            <h6>{{person.model.company}}</h6>
        </td>
        
        <td class="NrecFrame">
            <h6>{{person.model.name}}</h6>
        </td>

        <td class="NrecFrame">
            <h6>{{person.model.address}}</h6>
        </td>

        <td class="NrecFrame">
            <h6>{{person.model.industry}}</h6>
        </td>
        
        <td class="NrecFrame">
            <h6>{{person.model.phone}}</h6>
        </td>

        <td class="NrecFrame">
            <h6>{{person.model.website}}</h6>
        </td>

    </tr>
  
{{/each}}
</table>
