<table>
    <th>
        <td>Company Name</td>
    </th>
{{#each person in model}}

<tr class="recFrame">

    <td class="NrecFrame">
        <h4>Company</h4>
        <ul>
            <li>{{person.company}}</li>
        </ul>
    </td>
    
    <td class="NrecFrame">
        <h4>Name</h4>
        <ul>
            <li>{{person.name}}</li>
        </ul>
    </td>

    <td class="NrecFrame">
        <h4>Address</h4>
        <ul>
            <li>{{person.address}}</li>
        </ul>
    </td>

    <td class="NrecFrame">
        <h4>Industry</h4>
        <ul>
            <li>{{person.industry}}</li>
        </ul>
    </td>
    
    <td class="NrecFrame">
        <h4>Phone</h4>
        <ul>
            <li>{{person.phone}}</li>
        </ul>
    </td>

    <td class="NrecFrame">
        <h4>Website</h4>
        <ul>
            <li>{{person.website}}</li>
        </ul>
    </td>

</tr>
  
{{/each}}
</table>
