{{#each person in model}}

<ul class="recFrame">

    <li class="NrecFrame">
        <h4>Company</h4>
        <ul>
            {{#each person in model}}
            <li>{{person.company}}</li>
            {{/each}}
        </ul>
    </li>
    
    <li class="NrecFrame">
        <h4>Name</h4>
        <ul>
            {{#each person in model}}
            <li>{{person.name}}</li>
            {{/each}}
        </ul>
    </li>

    <li class="NrecFrame">
        <h4>Address</h4>
        <ul>
            {{#each person in model}}
            <li>{{person.address}}</li>
            {{/each}}
        </ul>
    </li>

    <li class="NrecFrame">
        <h4>Industry</h4>
        <ul>
            {{#each person in model}}
            <li>{{person.industry}}</li>
            {{/each}}
        </ul>
    </li>
    
    <li class="NrecFrame">
        <h4>Phone</h4>
        <ul>
            {{#each person in model}}
            <li>{{person.phone}}</li>
            {{/each}}
        </ul>
    </li>

    <li class="NrecFrame">
        <h4>Website</h4>
        <ul>
            {{#each person in model}}
            <li>{{person.website}}</li>
            {{/each}}
        </ul>
    </li>

  </ul>
  
{{/each}}
