<table>
    <th>
        <td>Company Name</td>
    </th>

    <th>
        <td>Name</td>
    </th>

    <th>
        <td>Address</td>
    </th>

    <th>
        <td>Industry</td>
    </th>

    <th>
        <td>Phone</td>
    </th>

    <th>
        <td>Website</td>
    </th>

{{#each person in model}}

<tr class="recFrame">

    <td class="NrecFrame">
        <p>{{person.company}}</p>
    </td>
    
    <td class="NrecFrame">
        <p>{{person.name}}</p>
    </td>

    <td class="NrecFrame">
        <p>{{person.address}}</p>
    </td>

    <td class="NrecFrame">
        <p>{{person.industry}}</p>
    </td>
    
    <td class="NrecFrame">
        <p>{{person.phone}}</p>
    </td>

    <td class="NrecFrame">
        <p>{{person.website}}</p>
    </td>

</tr>
  
{{/each}}
</table>
