
<table class="contactTable">

    <th>
        <td>Delete Record</td>
    </th>

    <th>
        <td>Company Name</td>
    </th>

    <th>
        <td>Name</td>
    </th>

    <th>
        <td>Address</td>
    </th>

    <th>
        <td>Industry</td>
    </th>

    <th>
        <td>Phone</td>
    </th>

    <th>
        <td>Website</td>
    </th>

    {{#each person in model itemController='people/person'}}

    <tr class="recFrame">
        
        <td class="NrecFrame">
            <button class="deleteButton btn red" {{action "removeRecord"}}>x</button>
        </td>

        <td class="NrecFrame">
            {{#view 'double-click' focus-out="acceptChanges" valueBinding="person.model.company"}}
                <h6>{{session.currentuser.person.model.company}}</h6>
            {{/view}}

        </td>
        
        <td class="NrecFrame">
            {{#view 'double-click' focus-out="acceptChanges" valueBinding="person.model.name"}}
            <h6>{{session.currentuser.person.model.name}}</h6>
            {{/view}}
        </td>

        <td class="NrecFrame">
            {{#view 'double-click' focus-out="acceptChanges" valueBinding="person.model.address"}}
            <h6>{{session.currentuser.person.model.address}}</h6>
            {{/view}}
        </td>

        <td class="NrecFrame">
            {{#view 'double-click' focus-out="acceptChanges" valueBinding="person.model.industry"}}
            <h6>{{session.currentuser.person.model.industry}}</h6>
            {{/view}}
        </td>
        
        <td class="NrecFrame">
            {{#view 'double-click' focus-out="acceptChanges" valueBinding="person.model.phone"}}
            <h6>{{session.currentuser.person.model.phone}}</h6>
            {{/view}}
        </td>

        <td class="NrecFrame">
            {{#view 'double-click' focus-out="acceptChanges" valueBinding="person.model.website"}}
            <h6>{{session.currentuser.person.model.website}}</h6>
            {{/view}}
        </td>

    </tr>
  
{{/each}}
</table>

