{{#each person in model}}
  <ul>
      <li><p>{{session.currentuser.person.model.name}}</p></li>
      <li><p>{{session.currentuser.person.model.company}}</p></li>
      <li><p>{{session.currentuser.person.model.address}}</p></li>
      <li><p>{{session.currentuser.person.model.phone}}</p></li>
      <li><p>{{session.currentuser.person.model.website}}</p></li>
      <li><p>{{session.currentuser.person.model.industry}}</p></li>
  </ul>

  {{else}}
    <h5>No Records Found</h5>
{{/each}}
{{outlet}}
